<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Predicción de Vuelos</title>
</head>
<body>
    <h1>Ingresar datos del vuelo ✈️</h1>
    <form th:action="@{/form}" th:object="${flightInput}" method="post">
    Aerolínea: <input type="text" th:field="*{aerolinea}" /><br/>
    Número de vuelo: <input type="text" th:field="*{numeroVuelo}" /><br/>
    Origen: <input type="text" th:field="*{origen}" /><br/>
    Destino: <input type="text" th:field="*{destino}" /><br/>
    Fecha partida: <input type="text" th:field="*{fecha_partida}" /><br/>
    Distancia (km): <input type="number" th:field="*{distancia_km}" /><br/>
    <button type="submit">Predecir retraso</button>
    </form>

</body>
</html>