button[kind='primary'] {
  background-color: #0cd147 !important;
  color: white !important;
}

button[kind='primary']:hover {
  background-color: #038d21 !important;
}

button[title*='Predecir'],
button[kind='secondary'] {
  background-color: #3b82f6 !important;
  color: white !important;
  border-radius: 8px;
}

button[title*='Predecir']:hover,
button[kind='secondary']:hover {
  background-color: #2563eb !important;
}
